
table{
  text-align: center;
  margin: 20px auto;
}
td{
  border: 1px solid black;
  padding: 10px;
}
thead{
  background-color: rgb(161, 252, 158);
}
.update-icon{
  cursor:pointer;
  top: 7px;
  position:relative
}
